exps/
*.pdf
*.pkl


# PyInstaller
__pycache__/

# img
*.jpg
*.png
*.jpeg
!assets/*

# PyTorch
*.pt
*.pth
*.ckpt

results
synth_pools
logs

results_single_class
results_multi_class_2
results_multi_class_5_10
pra_single
pra_multi
linear_probe_single
linear_probe_multi
results_uncertainty_ablation_cifar10_all_classes_500ep
hyperparameters
results_forget_row_ablation_cifar10_fg7
results_retain_forget_tradeoff
results_epoch_diagnostics
results_gaussian_support_ablation
results_synthesis_ablation_vit-b-16
results_synthesis_ablation_resnet18