exps/
*.sh
*.pdf
*.pkl


# PyInstaller
__pycache__/

# img
*.jpg
*.png
*.jpeg
!assets/*

# PyTorch
*.pt
*.pth
*.ckpt


results
synth_pools

results_single_class
results_multi_class_2
results_multi_class_5_10
pra_single
pra_multi
linear_probe_single